html,body{
  height: 100%  ;
}

body{
  margin:0;
  font-family: Arial;
  background-color: linear-gradient(to right, #1e3c72, #2a5350);
  padding: 0;
  color: white;
}
button{
  cursor: pointer;
  color: white;
  padding: 0 45px;
  border: 2px solid white;
  border-radius: 25px;
  height: 50px ;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  background-color: blue;
  transition: .4s;
} 

button:hover{
  background-color: darkblue;
  border-color: darkblue;
} 